
section {    
    margin: auto;
    max-width: 400px;
    font-family: sans-serif;
}
h1 {
    text-align: center;
}

div {
    margin-bottom: 1rem;
    position: relative;
}

input {
  width: 100%;
  border: 2px solid gray;
  background: none;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 8px 12px;
  padding-left: 4rem;
  outline: 0;  
}

 label {
  transition: background 0.3s, color 0.3s, top 0.3s, bottom 0.3s, right 0.3s, left 0.3s;
  position: absolute;
  border: 2px solid gray;
  border-right-width: 0;
  background: lightpink;
  color: #444;
  padding: 6.5px 6px;
  top: 0;  
}

 input:focus{
  border-color: #f06d06;
}


input:valid + label  {
  border: 2px solid gray;
  border-right-width: 0;
  background: limegreen;
  color: white;
  font-size: 100%;
  padding: 6.5px 6px;
  z-index: 2;  
}

 input:focus + label  {
  border: 2px solid #f06d06;
  border-right-width: 0;
  background: #f06d06;
  color: white;
  font-size: 90%;
  padding: 1px 6px;
  z-index: 2;
  text-transform: uppercase;
}

span {
    color: crimson;
    font-size: 90%;
}

button:hover {
  background: #3cb0fd;
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

button, button:active {
  background: #3498db;
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  outline: 0;
  border-width: 0;
  cursor: pointer;
}

textarea {
    width: 100%;
    height: 100px;
}